.bg-body {
    height: 12rem;
}

.navbar-toggler {
    border: 1px solid #005cff;
}

.blue {
    color: #005cff;
}

.navbar-toggler:focus {
    outline: none;
    box-shadow: 0 0 0 0.1rem rgb(0, 128, 255);
}

.navbar {
    border-bottom: 1px solid #dadada;
}

.card {
    border-radius: 33px;
    border-color: #005cff;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2), 0 12px 40px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.card:hover {
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3), 0 16px 48px rgba(0, 0, 0, 0.2);
}

.full-width-input {
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    font-size: 16px;
    border: none;
    border-radius: 4px;
}

.full-width-input:focus {
    outline: none;
}

.myRow {
    margin-top: 5rem;
    border: 1px solid #005cff;
    border-radius: 33px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2), 0 12px 40px rgba(0, 0, 0, 0.1);
}

.space {
    margin-top: 2rem;
}

.avatar {
    height: 10rem;
    width: 10rem;
    background: #4c5051;
}